*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #111;
}

#box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}

#box2{
    height: 300px;
    width: 300px;
    background-color: seagreen;
}
#box3{
    height: 300px;
    width: 300px;
    background-color: royalblue;
}
#box4{
    height: 300px;
    width: 300px;
    background-color: yellow;
}
#box5{
    height: 300px;
    width: 300px;
    background-color: white;
}


#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

#part2{
    display: flex;
    gap : 50px
}
