*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    /* position: absolute; */
    position: fixed;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9; /* as the overlay is transparent and is position absolute so the cursor hides under overlay to overcome this z-index is used*/
}

#image{
    height: 200px;
    width: 600px;
    background-color: red;
position: relative; /* keeps the image at same position*/
}

#image img{
    height: 100%;
    width: 100%;
}

#overlay{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute; /* as overlay is layered upon the image*/
    z-index: 10;
}