* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: white;
}

main {
  height: 100vh;
  width: 100%;
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.container {
  padding: 20px;
  border: 3px solid white;
  border-radius: 10px;
}

.box {
  height: 300px;
  width: 300px;
  background: linear-gradient(to right bottom, crimson, rgb(144, 48, 67));
  border-radius: 10px;
  margin: 15px;
}

button{
  padding: 20px 70px;
  border-radius: 50px;
  background: linear-gradient(lightseagreen, seagreen);
  border: none;
  color: black;
  font-weight: 700;
  font-size: 20px;
}

button:active{
  scale : 0.96;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}