* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sarpanch", sans-serif;
    font-weight: 600;
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

#page1,
#page2,
#page3 {
    height: 100vh;
    width: 100%;
    padding: 5vw 0;
}

#move {
    background-color: rgb(219, 35, 35);
    display: flex;
    padding: 2vw 0;
    overflow-x: hidden;
}

.marque h1 {
    font-size: 3vw;
}

.marque{
    flex-shrink: 0; /* shrinks the dev element */
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 0 1.5vw;
    transform: translateX(-100%);
}

.marque img {
    height: 3vw;
}